//output:index.html

html
  head
    title
      | Alpined - Get Outdoors.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/devices.css')
  body
    header.header.header-background
      .container-lrg
        .col-12.spread
          div
            a.logo
              | Alpined
          div
            a.nav-link(href='#')
              | Twitter
            a.nav-link(href='#')
              | Facebook
      .container-lrg.flex
        .col-6.centervertical
          h1.heading
            | Rent Skis and Ski Clothing
          h2.paragraph
            | We rent and deliver top quality ski clothing and gear directly to your resort. Free Shipping and Free Returns Anywhere in the US.
          .ctas
            input.ctas-input(type='text', placeholder='Your Email Address')
            button.ctas-button
              | Sign Up
        .col-6.sidedevices
          .iphoneipad
            .iphone
              .mask
                img.mask-img(src='img/mobileapp.svg')
            .ipad
              .mask
                img.mask-img(src='img/webapp.svg')
    .feature5
      .container-sml.text-center
        .col-12
          h3.heading
            | How Alpined Works
      .container-lrg.flex
        .col-5.centervertical
          .steps
            .emoji
              b
                | 🎓
            h3.subheading
              | Choose Your Dates and Gear
            p.paragraph
              | Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
          .steps
            .emoji
              b
                | 💐
            h3.subheading
              | Go Have Fun
            p.paragraph
              | Naming your brand has never been soooo easy! With Launchaco you can instantly search for twitter, facebook, medium, and instagram handles.
          .steps
            .emoji
              b
                | 🚀
            h3.subheading
              | Ship it Back When You're Done
            p.paragraph
              | We've hand travelled the depths of the internet to bring you gorgeous logotypes. Featuring the beautiful fonts of Connary Fagen.
        .col-1
        .col-6
          .sidedevices
            .iphoneipad2
              .iphone
                .mask
                  img.mask-img(src='img/mobileapp.svg')
              .ipad
                .mask
                  img.mask-img(src='img/webapp.svg')
    .socialproof
      .container-sml
        .flex.text-center
          .col-12
            h4.subheading
              | "What a time saver for startup founders...this can be one of the most awful and creative sinkholes that a team goes through... Bravo for making this hellish process a little better."
            p.paragraph
              | Sean Howell - CEO @ Hornetapp
    .footer
      .container-sml.text-center
        .col-12
          h5.heading
            | Instantly search domains, handles and logotypes.
          .ctas
            input.ctas-input(type='text', placeholder='Your Email Address')
            button.ctas-button
              | Sign Up
      .container-lrg.footer-nav
        .col-12.spread
          div
            a.nav-link
              | Twitter
            a.nav-link
              | Facebook
          div
            a.nav-link
              | Email Us
